* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: gainsboro;
  font-family: serif;
  box-sizing: border-box;
  min-width: 458px; }
  body .main-wrapper {
    width: 80%;
    margin: auto; }
    body .main-wrapper header {
      width: 100%;
      height: 250px; }
      body .main-wrapper header .logo {
        float: left;
        width: 30%; }
        body .main-wrapper header .logo img {
          width: 100%;
          height: auto; }
      body .main-wrapper header nav {
        float: right;
        width: 70%;
        padding: 2% 0px 2% 0px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        text-transform: uppercase;
        margin-top: 12%; }
        body .main-wrapper header nav a {
          text-decoration: none;
          color: red;
          font-size: 1.3vw; }
          body .main-wrapper header nav a:first-child {
            margin-left: 10%; }
          body .main-wrapper header nav a:last-child {
            margin-right: 10%; }
          body .main-wrapper header nav a:not(:last-child) {
            margin-right: 25%; }
          body .main-wrapper header nav a:hover {
            color: #3199b1;
            border-bottom: 1px dotted silver; }
          body .main-wrapper header nav a:active {
            color: #267789; }
    body .main-wrapper .toolbar {
      height: 50px;
      width: 100%;
      display: block;
      margin-bottom: 50px; }
      body .main-wrapper .toolbar input {
        float: right;
        padding-left: 20px;
        height: 50px;
        width: 25%;
        border: 1px solid red;
        font-size: 1.2vw;
        color: red;
        background-color: gainsboro; }
        body .main-wrapper .toolbar input::placeholder {
          color: red; }
    body .main-wrapper .post-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body .main-wrapper .post-list article {
        padding: 10px;
        margin: 10px 0 10px 0;
        background-color: white;
        width: 48.5%; }
        body .main-wrapper .post-list article:nth-child(2n+1) {
          margin-right: 3%; }
        body .main-wrapper .post-list article img {
          width: 100%;
          height: auto; }
        body .main-wrapper .post-list article div {
          width: 100%; }
          body .main-wrapper .post-list article div .post-description {
            padding: 5px 0 5px 10px;
            color: #9a9a9a;
            line-height: 25px; }
          body .main-wrapper .post-list article div h3 {
            text-transform: uppercase;
            color: #676767;
            padding-bottom: 5px; }
          body .main-wrapper .post-list article div p {
            line-height: 25px;
            color: #676767; }
    body .main-wrapper #about {
      margin-top: 70px;
      margin-bottom: 70px; }
      body .main-wrapper #about h1 {
        text-transform: uppercase;
        color: red; }
      body .main-wrapper #about img {
        width: 100%; }
      body .main-wrapper #about p {
        color: gray;
        line-height: 27px;
        padding-bottom: 20px;
        font-size: 17.5px; }
    body .main-wrapper h1, body .main-wrapper h4 {
      text-align: end;
      color: red; }
    body .main-wrapper h4 {
      text-transform: uppercase;
      margin-bottom: 25px; }
    body .main-wrapper .contact-form {
      margin-bottom: 100px; }
      body .main-wrapper .contact-form form textarea {
        border: 1px solid gray;
        height: 100px;
        width: 100%;
        margin-bottom: 20px;
        max-width: 100%;
        max-height: 300px;
        padding: 20px;
        font-size: 1.2vw;
        background-color: gainsboro; }
        body .main-wrapper .contact-form form textarea::placeholder {
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif; }
      body .main-wrapper .contact-form form input {
        background-color: gainsboro;
        border: 1px solid gray; }
        body .main-wrapper .contact-form form input:not(:last-child) {
          padding-left: 20px;
          margin-bottom: 25px;
          display: block;
          height: 50px;
          width: 100%;
          font-size: 16px; }
        body .main-wrapper .contact-form form input:last-child {
          float: right; }
        body .main-wrapper .contact-form form input[type='button'] {
          color: white;
          background-color: red;
          height: 45px;
          width: 220px;
          font-weight: 600;
          font-size: 1.1vw;
          text-align: center;
          border: 0;
          cursor: pointer; }
          body .main-wrapper .contact-form form input[type='button']:hover {
            background-color: #ff1a1a; }
          body .main-wrapper .contact-form form input[type='button']:active {
            transform: translateX(1px); }
    body .main-wrapper footer {
      font-size: 1.1vw;
      color: gray; }
