* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

i {
    cursor: pointer;
}

.main-container {
    width: 600px;
    height: 530px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.header-elements {
    height: 155px;
    border-bottom: 2px solid black;
    margin-left: 15px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-elements h1 {
    padding-top: 20px;
}

.header-input-block {
    width: 498px;
    padding-top: 25px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
}

.header-elements input {
    margin: 0 5px 0 0;
    padding: 3px;
    width: 470px;
}

.message {
    padding-top: 8px;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.list-items-block {
    height: 275px;
    overflow: auto;
    padding: 10px 35px 10px 10px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item div p {
    position: absolute;
    padding-left: 15px;
    padding-top: 3px;
    display: inline-block;
}

li {
    height: 25px;
}

.footer-elements {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-elements img {
    height: 75px;
    width: auto;
}

button {
    background: none;
    border: none;
}

#items {
    list-style-type: none;
}

.item {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    cursor: move;
}

.column.dragElem {
    opacity: 0.4;
}

.column.over {
    border: 2px dashed #000;
    border-top: 2px solid blue;
}
