:root {
    --bg-color--dark: #0a1223;
    --bg-color--light: #fff;
    --link: #5d5d5d;
    --link--active: #54597d;
    --link--hover: #54597d;
    --article-title: #ddd;
    --article-title--dark: #000;
    --thumbnail--description: #4d3e3e;
    --btn-color: #fff;
    --btn-bg-color: #5ebcff;
    --navigation-border-bottom: #ddd;
    --thumbnail-title: #484747;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color--dark);
    font-family: Arial, Helvetica, sans-serif;
}

body h1 {
    text-align: center;
    color: #ddd;
    font-size: 5vw;
}

body h1 span {
    font-style: italic;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 25px;
    margin-bottom: 180px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #5d5d5d;
    font-size: 1.2vw;
    margin-right: 35px;
}

nav li:first-child a {
    color: #54597d;
}

nav a:hover {
    color: #54597d;
}

.facts {
    margin: 150px 13% 100px 13%;
}

.box {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    margin-bottom: 20px;
}

.box h2 {
    font-size: 30px;
    padding-bottom: 25px;
    background: -webkit-linear-gradient(left, #ddd, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box .text, .box .image {
    width: 50%;
    height: 100%;
    padding: 20px;
}

.box .text p {
    color: #5d5d5d;
    text-indent: 20px;
    text-align: justify;
}

.box .image img {
    height: 100%;
    width: 100%;
}

.box:nth-child(2n+2) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 991px) {
    body {
        background-color: var(--bg-color--dark);
    }

    body h1 {
        font-size: 7vw;
        padding-left: 5%;
        padding-right: 5%;
    }

    nav {
        justify-content: center;
    }

    nav a {
        font-size: 2vw;
    }

    .facts {
        flex-direction: column;
    }

    .box {
        width: 100%;
        flex-direction: column;
    }

    .box .text, .box .image {
        width: 100%;
        padding: 20px;
    }

    .box:nth-child(2n+2) {
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    body {
        background-color: var(--bg-color--light);
    }

    body h1 {
        color: var(--article-title--dark);
        font-size: 15vw;
    }

    nav {
        padding-top: 0;
        margin-bottom: 50px;
        flex-direction: column;
    }

    nav li {
        height: 40px;
        padding-top: 8px;
        border-bottom: 1px solid gainsboro;
    }

    nav li:first-child a {
        font-weight: 700;
    }

    nav a {
        padding-left: 15px;
        font-size: 4vw;
    }

    .facts {
        margin-top: 100px;
    }

    .box .text h2 {
        color: yellow;
        background: none;

        /*-webkit-linear-gradient( #ddd, #333); */
        /* -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
    }
}
