$bodyBackgroundColor: white;
$headersColor: #5DBCD2;

$articlesDescColor: darken(#5DBCD2, 10%);
$articlesHeaderColor: $articlesDescColor;

$bodyFontFamily: sans-serif;
$articlesBackgroundColor: lighten(gainsboro, 7%);
